html, body, div {
    margin: 0;
    padding: 0;
}

html {
    background-color: #222;
    }

html, body {
    overflow-y: hidden;
}

#app {
    width: 100vw;
    height: 100vh;
    /*
    width: 96vw;
    height: 96vh;
    margin: 2vh 2vw 2vh 2vw;

    width: 1280px;
    height: 720px;
    */
}

label {
    color: #73c8e4;
    font-size: 1.5rem;
}

input {
    font-family: "Roboto Mono", monospace;
    font-size: 1.5rem;
    padding: 0;
    border-radius: 0.25rem;
    border: 0px;
    /*border-bottom: 2px solid #73c8e4;*/
    box-shadow: none;
    outline: none;
    margin: 0;
    background-color: #00000000;
    color: white;
}

input.code {
    letter-spacing: 8px;
    caret-color: transparent;
    text-transform: uppercase;
}